.DS_Store
note/
output/
oldlogs/
*.pptx
*.xlsx
*.pdf
*.png
opencollective/__pycache__/
opencollective/lib/
opencollective/logs/
opencollective/fig*
opencollective/captures
opencollective/outputs
opencollective/work/
credentials.json
*.json
*.html
*.csv
mining*
*.7z
*.zip
*.tar.gz
*.tmp
opencollective/out.txt

!opencollective/expenses_random_order_v1.csv
!opencollective/expenses_random_order_v2.csv