.DS_Store
note/
output/
*.pptx
*.xlsx
*.pdf
opencollective/__pycache__/
opencollective/lib/
opencollective/logs/
opencollective/figs/
opencollective/captures
opencollective/outputs
credentials.json
*.json
*.html
*.csv
mining*
