.DS_Store
note/
output/
oldlogs/
*.pptx
*.xlsx
*.pdf
opencollective/__pycache__/
opencollective/lib/
opencollective/logs/
opencollective/fig*
opencollective/captures
opencollective/outputs
credentials.json
*.json
*.html
*.csv
mining*
*.7z
*.zip
*.tar.gz
*.tmp
